<ejs-calendar id=calendar [value]='value' (change)="getEvents($event)"> </ejs-calendar>

<mat-grid-list *ngFor="let event of eventsList" cols="2">
    
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{event.title}}</mat-card-title>
              <mat-card-subtitle>Start date: {{event.start_datetime | date }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{event.images[0].sizes.small.url ? event.images[0].sizes.small.url : null}}" alt={{event.title}} />
            <mat-card-content>
              <p>
                {{event.description_short}}
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    
  </mat-grid-list>
