.calendar ejs-calendar {
    margin: 10px auto;
}

.calendar h3 {
    text-align: center;
    margin: 5px auto;
    color: #e3165b;
}

.title {
    background-color: #e3165b;
    color: #FFF;
    text-align: center;
    padding: 10px;
}

.title h1 {
    margin: 0;
}
