<div class="title">
  <h1>Time.ly Calendar</h1>
</div>

<div class="calendar">
  <h3>Select a start date to pick events</h3>
  <ejs-calendar id=calendar [value]='value' (change)="changeStartDateHandler($event)"> </ejs-calendar>
</div>

<mat-paginator *ngIf="eventsList"
               [length]="eventsQtd"
               [pageSize]="itemsPerPage"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event; paginationHandler($event)">
</mat-paginator>

<app-events [eventsList]="eventsList"></app-events>
