<div class="container-fluid">
  <h1>Grocery List</h1>

  <form [formGroup]="customerForm" (submit)="onSubmit()">
    {{customerForm.value.fruitsForm | json}}
    <div class="form-group">
      <label for="first-name">FirstName</label>
      <input type="text" name="first-name" class="form-control" formControlName="firstName"
       pattern="[A-Za-z-']*">
      <small class="text-danger" *ngIf="customerForm.get('firstName').errors && customerForm.get('firstName').errors.pattern">The name can include only hypens, apostrophes and letters</small>        
    </div>

    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input type="text" name="last-name" class="form-control" formControlName="lastName"
      pattern="[A-Za-z-']*" >
      <small class="text-danger" *ngIf="customerForm.get('lastName').errors && customerForm.get('lastName').errors.pattern">The last name can include only hypens, apostrophes and letters</small>      
    </div>

    <div class="form-group">
      <label for="street-address">Street Address *</label>
      <input type="text" [class.is-invalid]="streetAddress.invalid && streetAddress.touched" name="street-address" class="form-control" formControlName="streetAddress">
      <small class="text-danger" *ngIf="customerForm.get('streetAddress').invalid && submitted">The address is required</small>            
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit address</button>
    </div>
  </form>


  <form [formGroup]="fruitsForm" (submit)="addFruit(fruit.value, quantity.value)">
      <div class="form-group">
        <label for="fruit">Fruit</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-primary" type="submit" id="button-addon1">Add item</button>
          </div>
          <select required  class="custom-select" formControlName="fruit" name="fruit"
                [class.is-invalid]="" #fruit>
            <option value="" selected>Select a fruit</option>
            <option *ngFor="let fruit of fruits">{{fruit}}</option>
          </select>
          <div class="input-group-prepend ml-1">
            <span class="input-group-text">QTY</span>
          </div>
          <input type="number" name="fruit-quantity" class="form-control" #quantity required formControlName="quantity">
        </div>
      </div>
      <div *ngIf="fruitsForm.invalid && submitFruit">
        <small class="text-danger" *ngIf="fruitsForm.get('fruit').invalid">You need to choose one fruit option.</small>      
        <small class="text-danger" *ngIf="submitFruit && fruitsForm.get('quantity').invalid">The quantity information is required</small>              
      </div> 
    </form>

    <table class="table">
        <thead class="thead-primary">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items; let i = index">
            <th scope="row">{{item.fruit}}</th>
            <td>{{item.quantity}}</td>
            <td>{{item.unitPrice}}</td>
            <td>{{item.amount}}</td>
            <td><button type="button" class="btn btn-danger" (click)=removeItem(item)>Delete</button>
            </td>
          </tr>
          <tr class="active">
            <td>Subtotal</td>
            <td></td>
            <td></td>
            <td>{{getSubtotal()}}</td>
            <td></td>            
          </tr>
          <tr class="info">
              <td>Taxes 7%</td>
              <td></td>
              <td></td>
              <td>{{getTaxes()}}</td>
              <td></td>            
            </tr>
            <tr class="info">
                <td>Total</td>
                <td></td>
                <td></td>
                <td>{{getTotal()}}</td>
                <td></td>            
              </tr>
        </tbody>
      </table>
      
      <div id="customer-information">
        <h6 class="font-weight-bold">{{customerInformation}}</h6>
      </div>
</div>