.movie-card {
    max-width: 250px;
    margin: 5px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.disabled {
    cursor: auto;
}

.pagination {
    justify-content: center;
}

.pagination li:hover,
.pagination li.disabled {
    cursor: pointer;
    box-shadow: none;
    box-shadow: 0px 1px 0px -1px rgba(0, 0, 0, 0.2),
                0px 0px 1px 0px rgba(0, 0, 0, 0.14), 
                0px 0px 2px 0px rgba(0, 0, 0, 0.12);
}

.pagination li.disabled {
    cursor: auto;
}

.pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0 5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.pagination li.active {
    color: #FFF;
    background-color: rgb(103, 58, 183);
}

.movies-title {
    text-align: center;
}