
  <h1>Movies</h1>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  
  <mat-card *ngFor="let movie of selectedMoviesByGenre" class="movie-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{movie.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" *ngIf="movie.poster_path" alt="{{movie.title}} poster">
    <mat-card-content>
      <p>
        {{movie.overview}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  


